*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.grid{
    display: grid;
    grid-template-columns: 200px 50px;
    grid-template-rows: 50px 100px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
.a{
    border: 2px solid black;
    background-color: blue;
    height: 50px;
}
.b{
    border: 2px solid black;
    background-color: red;
}
.c{
    border: 2px solid black;
    background-color: green;
    height: 100px;
}
.d{
    border: 2px solid black;
    background-color: violet;
}